# This service starts the mobile_robot application on system boot
# and restarts if it fails

[Unit]
Description=Setup ros2 and launch mobile_robot
After=network-online.target
After=dev-esp32.device
Wants=network-online.target
Wants=dev-esp32.device
# Defines how often we can fail in a given time before
# we abort
StartLimitIntervalSec=90
StartLimitBurst=5

[Service]
Type=simple
User=mypi
ExecStart=/home/mypi/start_robot.sh
Restart=on-failure
RestartSec=5
KillMode=control-group
# Timeout for stop commands and for the service itself to stop before being killed
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
